body{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}
.middleWhiteBox{
    background-color: white;
    width: 430px;
    height: 650px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    border: none ;
    padding-bottom: 20px;
}
.image{
    margin-top: 0;
}
.bold{
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
    line-height: 30px;
}
.flexInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.inputk{
    border: 1px solid rgb(210, 202, 202) !important;
    margin-left:8px ;
    border-radius: 6px;
    padding: 5px 15px;
}
.size{
    width: 95%;
    height: 40px;
    margin: 8px 15px;
    border-radius: 8px;
    border:1px solid #606770;
    padding: 5px 15px;
    border:1px solid rgb(210, 202, 202) ;
}
.fontAwesome{
    text-align: left;
    padding-left:20px ;
    font-size: 13px;
    color: #606770;
}
.takvim{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

select{
    width: 122px;
    height: 35px;
    border:1px solid #bec1c5;
    border-radius: 6px;
}
.cinsiyet{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.ortakStyleCinsiyet{
    width: 122px;
    border:1px solid #bec1c5;
    border-radius: 6px;
    height: 35px;
    padding-top: 5px;
}
.metin{
    text-align: left;
    padding-left:20px ;
    font-size: 12px;
    color: #606770;
    margin-bottom: 15px;
}
.maviLink{
    color: #385898!important;
    font-size: 12px;
}
.kaydolYeşil{
    background-color: #00a400;
    border: none;
    padding: 5px 60px;
    margin-top: 20px;
    border-radius: 6px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}
.kaydolYeşil:hover{
    text-decoration: none;
    color: white;
}
.sonLink{
    color: #1877f2;
    font-weight: 700;
}
.sonLink:hover{
    text-decoration: none; 
}